//-------------------------------------------- Foundation

// Reference: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation

*, *:before, *:after {
  	box-sizing: inherit;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent; 
	box-sizing: border-box;

}

body {
	margin: 0;
	font: 16px/1 sans-serif;
}

iframe {
	border: 0;
}

h1, h2, h3, h4, h5, p, ul, ol, figure, button {
	margin: 0;
	padding: 0;
}

li {
    display: block;
}

h1, h2, h3, h4, h5, p {
	font-size: inherit;
}

strong {
	font-weight: bold;
}

sup {
	position: relative;
	top: -.5em;
	font-size: 65%;
	line-height: 0;
	vertical-align: baseline;
}

a, button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	overflow: visible;
	border: 0;
	font: inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
	-webkit-font-smoothing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

/** END FOUNDATION */

/** BEGIN STYLING */

body {
	background-color: #FCDB7D;
}

/* * {
	border: 1px solid red;
}*/

.content {
	width: 35em;
	margin: 0 auto;
}

.title {
	width: 50em;
	margin: 1em auto;
	font-family: 'Arial', sans-serif;
	text-align: right;
}

	.title h1 {
		font-size: 7em;
		margin-bottom: 1rem;
	}

	.title h2 {
		font-size: 2em;
		margin-bottom: 1rem;
	}

.main {}

	.addItem {
		width: 33.5rem;
		padding: 1em;
		display: block;
	}

	.error {
		margin: 1em auto;
		text-align: center;
		color: #e50000;
		font-weight: bolder;
		display: none;

	}

	.addReset {
		margin: 1em auto;
		width: 12.5em;
	}

		.button {
			-webkit-box-shadow: 2px 2px 3px #666666;
			-moz-box-shadow: 2px 2px 3px #666666;
			box-shadow: 2px 2px 3px #666666;
			font-family: Arial;
			color: #000000;
			font-size: 20px;
			padding: 10px 20px;
			border: solid #000 2px;
			text-decoration: none;
			position: relative;
		}

.item { 
	width: 100%;
	padding: .50em;
  	border-bottom: dashed 2px #000;
  }

	.checkbox, .item > p {
		display: inline-block;
	}

	.item > p, .delete {
		font-size: 3em;
		font-weight: 200;
	}

	.checkbox {
		width: 2.50em;
		height: 2.50em;
		border: 4px solid #000;
		text-align: center;
	}

		.checkmark {
			font-size: 2.75em;
			color: #e50000;
			display: none;
		}

	.delete {
		float: right;
		color: #797980;
		cursor: pointer;
	}

		.delete:hover {
			color: #000;
		}

.footer {
	width: 100%;
	margin-top: 1em;
	padding: 3em 0;
	background: #000;
	color: #fff;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
}

	.footer span {
		color: #e50000;
	}